application/nodered/flows/formation-lorawan/ttn_influxdb.json
[
    {
        "id": "7c89e3c6555142f0",
        "type": "mqtt in",
        "z": "774c9bfa06da6318",
        "name": "TTN",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d8a44df1438f632b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "2be78e46681dc0fa"
            ]
        ]
    },
    {
        "id": "2be78e46681dc0fa",
        "type": "function",
        "z": "774c9bfa06da6318",
        "name": "function",
        "func": "msg.payload =\n[\n    {\n        \"temperature\" :  msg.payload.uplink_message.decoded_payload.temperature,\n        \"rssi\" : msg.payload.uplink_message.rx_metadata[0].rssi\n    },\n\n    {\n        \"Device\" : msg.payload.end_device_ids.device_id\n    }\n]\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "a152291189825cad",
                "40c4a3a39a6acef8"
            ]
        ]
    },
    {
        "id": "a152291189825cad",
        "type": "influxdb out",
        "z": "774c9bfa06da6318",
        "influxdb": "fafd191e09ff8022",
        "name": "influxdb out",
        "measurement": "lorawan-sensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "training-usmb",
        "bucket": "iot-platform",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "40c4a3a39a6acef8",
        "type": "debug",
        "z": "774c9bfa06da6318",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "d8a44df1438f632b",
        "type": "mqtt-broker",
        "name": "TTN",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fafd191e09ff8022",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "iot-plateform",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://sacha.univ-lorawan.fr:8086/",
        "timeout": "10",
        "rejectUnauthorized": true
    }
]